PORT=8080
JWT_SECRET=horizon_admin_secret_key_2026
DNS_VALIDATION_SECRET=thisisdnsvalidationkey

# Paste your full Firebase Service Account JSON string here (Single line in quotes)
# FIREBASE_SERVICE_ACCOUNT='{"type":"service_account",...}'
